<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Queue Submission</title>

<!--Regular stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

<!--CSS Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!--Javascript-->
<script language="javascript" type="text/javascript">


xmlhttp = new XMLHttpRequest();
function objectExists(str){
	xmlhttp.onreadystatechange = function(){
		if(this.readyState==4 && this.status==200){	
			if(this.responseText.length<300){
				document.getElementById('return').innerHTML="Object not found in SIMBAD Database"
			}
			else{
				document.getElementById('return').innerHTML=""
			}
		}
		
		else{
			document.getElementById('form-target').innerHTML = "<strong> /*Waiting for Server Response...</strong>";
		}
	}
	xmlhttp.open("GET","http://simbad.u-strasbg.fr/simbad/sim-id?output.format=ASCII&Ident="+str, true)
	xmlhttp.send()
}
</script>
	
	
</head>

<body>
<nav class="navbar navbar-inverse" style="z-index: 12; min-height:70px !important">
	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#">
	  			<img src="{{ url_for('static', filename='images/logo.png') }}" alt="SEO" width="40px" height="40px" class="img-responsive">
	  		</a>
	  	</div>
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	  <ul class="nav navbar-nav navbar-right">
	    {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
	    {% endif %}
      	</ul>
    </div><!-- /.navbar-collapse -->
  
  	</div><!-- /.container-fluid -->
</nav>

<h1 class="text-center" style="font-size: 50px; color: white;"><a href="thanksqueue.html" style="color:white"><b>Submit a Queue Request</b></a></h1>

	
<div id="container-fluid">
	<div class="stars"></div>
	<div class="twinkling"></div>
    <div class="col-sm-3"></div>
	<div class="well col-sm-6" style="background-color:#3a3a3a">
		<div class="form-group">
		  <form role="form" name="queueForm" method="post" class="queue-form">
		    	  {{ form.hidden_tag() }}
            	<div class="input-group col-xs-12" style="margin-bottom: 17px">
                	<span class="input-group-addon" id="sizing-addon4" style="width: 30%; background-color: #0F425C; color: #fff;">Target</span>
                    <label class="sr-only" for="form-target">Target</label>
                    <input type="text" name="target" placeholder="" class="form-target form-control" id="targetName" onchange="objectExists(targetName.value)" required>
		    <p style="color:white;"><span id="return"></span></p>
	            </div>
	                        
	            <div class="input-group col-xs-12" style="margin-bottom: 17px">
	                <span class="input-group-addon" id="sizing-addon3 " style="width: 30%; background-color: #0F425C; color: #fff;">Exposure Times</span>
                    <label class="sr-only" for="form-exp">Exposure Time</label>
                    <input type="text" name="exptime" placeholder="" class="form-exp form-control" id="form-exp" required>
	            </div>
	                        
	            <div class="input-group col-xs-12" style="margin-bottom: 17px">
	                <span class="input-group-addon" id="sizing-addon3" style="width: 30%; background-color: #0F425C; color: #fff;">Number of Exposures</span>
                    <label class="sr-only" for="form-exp-count">Exposure Count</label>
                    <input type="text" name="expcount" placeholder="" class="form-exo-count form-control" id="form-exp-count" required>
	            </div>
	                        
	            <div class="input-group col-xs-12" style="margin-bottom: 17px">
	                <span class="input-group-addon" id="sizing-addon3" style="width: 30%; background-color: #0F425C; color: #fff;">Binning</span>
	                <label class="sr-only" for="form-binning">Binning</label>
	                <input type="text" name="binning" class="form-binning form-control" id="form-binning" value="2" required>
	            </div>
	                        		
	            <div class="input-group col-xs-12 col-xs-offset-1">
			<div class="row">
	                	<div class="checkbox-inline col-xs-1">
  					<label style="color:white;"><input type="checkbox" name="filter_u" value="true">u'</label>
				</div>

 				<div class="checkbox-inline col-xs-1">
  					<label style="color:white;"><input type="checkbox" name="filter_g" value="true">g'</label>
				</div>
									
				<div class="checkbox-inline col-xs-1">
  					<label style="color:white;"><input type="checkbox" name="filter_r" value="true">r'</label>
				</div>
										
				<div class="checkbox-inline col-xs-1">
  					<label style="color:white;"><input type="checkbox" name="filter_i" value="true">i'</label>
				</div>
										
				<div class="checkbox-inline col-xs-1">
  					<label style="color:white;"><input type="checkbox" name="filter_z" value="true">z'</label>
				</div>
										
				<div class="checkbox-inline col-xs-2">
  					<label style="color:white;"><input type="checkbox" name="filter_ha" value="true">h-alpha</label>
				</div>
				
				<div class="checkbox-inline col-xs-2">
					<label style="color:white;"><input type="checkbox" name="filter_clear" value="true" checked>clear</label>
				</div>
			</div>
		</div>
	
	                        		
				<button type="submit" class="btn btn-default" style="background: #0F425C"><a href="thanksqueue.html" style="color:white">Submit</a></button>
			</form>
		</div>
	</div>
</div>

</body>
</html>
