<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>404.html</title>
<!--Regular stylesheet-->
<link rel="stylesheet" href="styles.css">

<!--CSS Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-inverse" style="z-index: 12; min-height:70px !important">
	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#">
	  			<img src="images/SEO_Logo.png" alt="SEO" width="40px" height="40px" class="img-responsive">
	  		</a>
	  	</div>
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right">
        	<li><a href="#">Logout</a></li>
      	</ul>
    </div><!-- /.navbar-collapse -->
  
  	</div><!-- /.container-fluid -->
</nav>

<div id="container-fluid">
<div class="stars"></div>
	<div class="twinkling"></div>
	<div class="col-lg-4 col-lg-offset-4">
  		<img id="logo" src="images/SEO_Logo.png" width="250" height="250" alt="seo_logo" class="center-block img-responsive" style=" margin-top: 50px;"/>
	
  		<br>
  		
		<div class="text-center">
			<h1 style="color: white">Thanks for submitting a queue request!</h1>
    	</div>
	</div>
</div>
  	
</body>
</html>
