# Systemd daemon to manage the web app
[Unit]
Description=SEO Image Queue Server

# start this service after the network has started
After=network.target

[Service]
# we let our user own the files
User=rprechelt

# we put it in the nginx group
Group=nginx

# the directory containing the project
WorkingDirectory=/live/seo

# the environment to execute the project in
Environment="PATH=/live/seo/.env/bin"

# how to start the service
ExecStart=/live/seo/.env/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 -m 007 manage:app

[Install]
# we want this service to start when the multiuser system is running
WantedBy=multi-user.target