# Systemd daemon to manage the web app
[Unit]
Description=SEO MQTT Broker

# start this service after the network has started
After=network.target

[Service]
# we let our user own the files
User=rprechelt

# we put it in the nginx group
Group=nginx

# the directory containing the project
WorkingDirectory=/live/seo

# the environment to execute the project in
Environment="PATH=/live/seo/.env/bin"

# how to start the service
ExecStart=/usr/bin/mosquitto -p 27748

[Install]
# we want this service to start when the multiuser system is running
WantedBy=multi-user.target