# This target boots the entire SEO ecosystem
[Unit]
Description=Stone Edge Observatory
Requires=seo-broker.service
Requires=seo-queue.service
Requires=seo-web.service
Requires=seo-notify.service
Requires=seo-logging.service
Requires=seo-pipeline.service
After=multi-user.target
