<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Login to Stone Edge Observatory</title>

        <!-- Import GSS Framework -->
        <script src="https://s3-us-west-2.amazonaws.com/cdn.thegrid.io/gss/v2.0.0/v2.0.0/gss.min.js"></script>

        <!-- Import CSS -->
        <link href="{{ url_for('static',filename='styles/login.css') }}" rel="stylesheet"> 

        <!-- Create GSS Window -->
        <script type="text/javascript">
            window.engine = new GSS(document);
        </script>

        <!-- Include GSS stylesheet -->
        <style type="text/gss" src="{{ url_for('static',filename='styles/login.gss') }}"></style>

    </head>

    <body>

        <!-- Logo -->
        <img id="logo" src="{{ url_for('static',filename='images/logo.png') }}"/>

        <!-- Login Form -->
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email(id="username") }}
            {{ form.password.label }} {{ form.password(id="password") }}
            {{ form.submit() }}
            </form>

    </body>

</html>
